# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_HOST=localhost
DATABASE_URL=postgresql://space-xplorer:space-xplorer@localhost:5432/space-xplorer?schema=public
DATABASE_PORT=5432
DATABASE_USER=space-xplorer
DATABASE_PASSWORD=space-xplorer
DATABASE_DB=space-xplorer